@model SimpleWebApplication.Models.ViewModel
           
@{
    ViewBag.Title = "Index";
}

@section Head {
    <meta property="fb:app_id" content="@Config.FacebookApplicationId"/>
    <meta property="fb:admins" content="@Config.FacebookApplicationId"/>
}

<script>   
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>

<h2>Welcome to @Model.Id</h2>

<div class="fb-comments" data-href="@Model.Url" data-num-posts="10" data-width="500" data-colorscheme="light">
</div>
