@model SimpleWebApplication.Models.ViewModel
           
@{
    ViewBag.Title = "Index";
}

@section Head {
    <meta property="fb:admins" content="@Config.FacebookApplicationId"/>
}



<h2>Welcome to @Model.Id</h2>

<div class="fb-comments" data-href="@Model.Url" data-num-posts="10" data-width="500" data-colorscheme="light">
</div>
