@model SimpleWebApplication.Models.DbResultModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Model.DatabaseName

<pre>@Model.Error</pre>

@foreach(var block in @Model.Script)
{
    <pre>@block</pre>
    <hr />
}


