@model SimpleWebApplication.Models.DbScriptResult

@{
    ViewBag.Title = Model.Title;
}

<h2>Create</h2>

@Model.DatabaseName

<pre id="error">@Model.Error</pre>

@foreach(var block in @Model.Script)
{
    <pre>@block</pre>
    <hr />
}


