<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FBDerp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FBDerp.Properties.Settings>
            <setting name="SimpleServerPath" serializeAs="String">
                <value>..\..\..\SimpleWebApplication\</value>
            </setting>
            <setting name="FacebookApplicationId" serializeAs="String">
                <value>220266841382535</value>
            </setting>
            <setting name="FacebookSecret" serializeAs="String">
                <value>e9eae045396bbb09fd170496a4a21cdf</value>
            </setting>
        </FBDerp.Properties.Settings>
    </applicationSettings>
</configuration>